@using TableauRestAPI.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" onclick = "LogoutFunc()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<!--scirpt-->

    <script>
        var myStorage = window.localStorage;
        function cleartolocalstorage() {
                
                myStorage.removeItem('Token');
                myStorage.removeItem('Site');
                myStorage.removeItem('User');
            }

        function cleartoCookie() {
                //document.cookie = "Token=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
                docCookies.removeItem("Token", "/", "localhost", null);
        }

        function LogoutFunc() {

            // AJAX code to submit form.
                $.ajax({
                    method: "POST",
                    headers: {
                        //"Cache-Control": "no-cache",
                        //"Content-Type": "application/json; charset=utf-8",
                        "X-Tableau-Auth": myStorage.getItem('Token')
                    },
                    url: "http://localhost:3482/api/TableauSignOut",
                    data: "",
                    success: function (res) {
                        alert("success");
                            cleartolocalstorage(res);
                            cleartoCookie(res);
                    },
                    error: function (res) {
                        alert("error");
                    }
                });
            }
</script>
